@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --- LIGHT MODE (Siang) --- */
    --background: 250 250 250; /* #fafafa */
    --foreground: 24 24 27;    /* #18181b */
    --card: 255 255 255;       /* #ffffff */
    --card-border: 228 228 231;/* #e4e4e7 */
  }

  .dark {
    /* --- DARK MODE (Malam) --- */
    --background: 9 9 11;      /* #09090b */
    --foreground: 250 250 250; /* #fafafa */
    --card: 24 24 27;          /* #18181b */
    --card-border: 39 39 42;   /* #27272a */
  }
}

/* Terapkan variable tadi ke body */
body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Custom Scrollbar (Opsional) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 10px;
}